.mission-cards {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0px;
    // z-index: 20;
    margin: 0px 20%;
    font-size: 0px;

    .card {
        position: relative;
        display: inline-flex;
        width: 30%;
        height: 20%;
        line-height: 60px;
        white-space: nowrap;
        text-align: center;
        font-size: 24px;
        align-items:center;
        z-index: 31;

        &.isLeft {
            // left: 20%;
            justify-content: flex-start;
            margin-right: 20%;
        }

        &.isRight {
            // right: 20%;
            justify-content: flex-end;
            margin-left: 20%;

            .round-sended {
                left: auto;
                right: 0px;
            }
        }

        &.isUnuse {
            // top: 90% !important;
            position: absolute;
            top: 95%;
            left: 0%;
            align-items: normal;

            >b {
                border-width: 0px;
            }
        }

        >b {
            position: absolute;
            width: 68%;
            height: 54%;
            text-indent: 100%;
            // overflow: hidden;
            border: 1px gray dotted;

            &.sended {
                color: #f94801;
                background-color: #ffd17d;
                text-indent: 0%;
                z-index: 30;
                border: 1px solid #f94801;
            }

            &.disable {
                display: none;
            }
        }

        .round-sended {
            display: none;
            position: absolute;
            pointer-events: none;
            width: 30px;
            height: 6px;
            top: -6px;
            left: 0px;
            background-color: #dcdcdc;
            margin: 0px;
            padding: 0px;

            &.show {
                display: flex;
            }

            >i {
                display: inline-block;
                height: 100%;
                flex: 1;
                border-right: 1px dotted gray;

                &.in {
                    &.blue {
                        background-color: #4a7cff;
                    }
    
                    &.red {
                        background-color: #ff5454;
                    }
                }
            }
        }
    }
}