
.game-player-grid {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

    .grid-curtain {
        position: relative;
        height: 100%;
        width: 20%;
        text-align: center;
        overflow: hidden;
        background-color: #f9f9f9;

        &.end {
            width: 25%;
        }
    }

    .grid-left {
        float: left;

        .tools {
            flex-direction: row-reverse;
        }

        .grid-profile .show-leader {
            left: auto;
            right: 1px;
        }
    }

    .grid-right {
        float: right;
    }

    .grid-profile {
        position: relative;
        height: 20%;
        box-shadow: 0px 0px 2px gray inset;
        width: 100%;

        .profile-info {
            height: 54%;
            width: 100%;
            font-size: 0px;

            .btn-leader {
                height: 24px;
                width: 24px;
                font-size: 13px;
            }

            .name {
                display: flex;
                font-size: 14px;
                height: 100%;
                flex-direction: column;

                >span {
                    display: flex;
                    flex-basis: 30%;
                    align-items: flex-start;
                    justify-content: center;

                    &:first-child {
                        flex-basis: 70%;
                        align-items: flex-end;
                    }
                }

                .role-ratio {
                    position: relative;
                }

                .ball {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                }
            }

            .editor {
                color: #f9ff00;
                text-shadow: 1px 1px 1px #333;
            }

            .editing {
                color: #49ff00;
            }
        }

        .profile-tool {
            height: 46%;
            width: 100%;

            .tools {
                display: flex;
                height: 100%;
                justify-content: space-around;
                align-items: center;
            }
        }

        .vote {
            width: 38px;
            height: 38px;
            background-color: #000;
            border-radius: 50%;
            border: 1px solid gray;
            transition: all 0.5s ease;
            transform: rotateX(180deg);

            &.agree {
                background-color: #fff;
                transform: rotateX(0deg);
            }
        }

        .final-choice {
            position: relative;
            width: 100%;
            height: 46%;
            // z-index: 69;

            .exact-role {
                position: absolute;
                overflow: hidden;
                text-overflow: ellipsis;
                top: 0px;
                width: 100%;
                color: #ffe200;
                text-shadow: 1px 1px 1px #000;
            }

            .role-roll {
                position: relative;
                height: 100%;
                width: 100%;
                max-width: 60px;
                z-index: 70;
                background-color: #000;
                border-radius: 50%;
                top: 0px;
                margin: 0 auto;

                &:before {
                    color: #fff;
                    content: "?";
                }

                &.open {
                    z-index: 72;

                    >div {
                        display: inline-block;
                        z-index: 73;
                    }
                }

                >div {
                    // display: inline-block;
                    display: none;
                    position: absolute;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    z-index: 71;
                    font-size: 12px;
                    width: 50px;
                    height: 24px;
                    line-height: 24px;
                    margin-left: -25px;
                    margin-top: -12px;
                    border-radius: 50%;
                    border: 1px solid #000;
                    box-sizing: border-box;

                    &.active {
                        color: #ffe200;
                        z-index: 74;
                        border-color: #ffe200;
                    }
                }
            }
        }

        .role {
            width: 28px;
            height: 28px;
            border: 1px solid gray;
            font-size: 25px;
            line-height: 28px;
            color: #fff;
            background-color: #9a9a9a;
        }
    }

    .btn-leader {
        background-color: #921900;
        color: #ffce71;
        height: 38px;
        width: 38px;
        min-width: 24px !important;
        min-height: 24px !important;
        border-radius: 4px;

        &.show-leader {
            position: absolute !important;
            top: 1px;
            left: 1px;
        }
    }


    .game-modal {

        .header {
            height: 8%;
            line-height: 44px;
            font-size: 24px;
            text-align: center;
            border-bottom: 1px solid gray;
            background-color: #666;
            color: #00ff51;
            // color: #fff;
            // text-decoration: underline;
            font-style: oblique;
            text-shadow: 1px 1px 1px #000;

            .close {
                display: inline-block;
                position: absolute;
                height: 40px;
                width: 40px;
                top: 0px;
                right: 0px;
                color: #fff;
                font-size: 30px;
                line-height: 30px;
            }
        }
        
        .content {
            height: 84%;
            overflow: auto;

            table {
                width: 100%;

                th {
                    text-align: center;
                }

                td:first-child {
                    border: 1px solid #333;
                    text-align: center;
                    color: #fff;
                    background-color: gray;

                    &.win {
                        background-color: blue;
                    }

                    &.lose {
                        background-color: red;
                    }
                }
            }
        }

        .tabs {
            height: 8%;
            display: flex;
            justify-content: center;

            .btn {
                border-right: 1px solid gray;

                &:last-child {
                    border-right-width: 0px;
                }

                &.active {
                    background-color: #00ff51;
                }
            }
        }

        .content-vote {

            .vote-round {
                font-size: 12px;
                display: flex;
                flex-direction: row;
                overflow: hidden;
                border-top: 1px solid #333;

                &.last {
                    font-size: 16px;
                    border: 1px solid #560f00;
                    box-shadow: 1px 1px 3px #000;

                    .vote-go-leader {
                        color: #ffce71;
                        background-color: #921900;
                    }
                }

                .self {
                    color: #00ff51 !important;
                    // text-decoration: underline;
                    font-style: oblique;
                    text-shadow: 1px 1px 1px #000;
                }
            }

            .vote-go-leader {
                color: #fff6e4;
                background-color: #b59b90;
                flex: 2;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100px;
            }

            .vote-go-players {
                flex: 2;

                .player {
                    margin: 0px;
                    padding: 0px;
                    border-bottom: 1px solid gray;

                    &.leader {
                        color: #ddd;
                    }

                    &.isbad {
                        color: red;
                    }
                }
            }

            .vote-go-vote {
                flex: 1;
                background-color: #ddd;
                display: flex;
                justify-content: center;
                align-items: center;
                border-left: 1px solid gray;

                .vote {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    color: #fff;
                    background-color: #000;
                    border-radius: 50%;
                    border: 1px solid #333;
                    font-size: 12px;
                    text-align: center;

                    &.agree {
                        color: #000;
                        background-color: #fff;
                    }

                    
                }
            }
        }

        .content-possible {

            .role-possible {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .role {
                    flex-basis: 50%;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 48px;
                    line-height: 48px;
                    box-sizing: border-box;
                    border: 0px solid #ffe200;
                    border-bottom-width: 1px;
                    color: #ffe200;
                    text-shadow: 1px 1px 2px #000;
                    opacity: 0.3;

                    &:nth-child(odd) {
                        border-right-width: 1px;
                    }

                    &.possible {
                        opacity: 1;
                    }
                }
            }

            .good-ratio {
                height: 50px;

                .ratio-bar {
                    display: flex;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    padding: 20px;
                    box-sizing: border-box;

                    .ratio-bar-inner {
                        height: 100%;
                        width: 80%;
                        margin: 0 auto;
                        border-bottom: 1px solid gray;
                    }

                    .bar-inner {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                    }

                    .ratio {
                        height: 100%;
                        background-color: gray;
                        border-radius: 10px;
                    }
                }
            }
        }

        .content-besend {
            min-height: 420px;
            display: flex;

            >div:not(.center) {
                flex: 1;
                background-color: #ddd;
                overflow: hidden;
            }

            .center {
                flex: 2;
            }

            .player {
                height: 20%;
                border: 1px solid gray;
                box-sizing: border-box;

                &.self {
                    color: #fff;
                    background-color: #00ff51;
                }

                .name {
                    font-size: 16px;
                    line-height: 36px;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.isbad {
                        color: red;
                    }
                }

                .voting {
                    display: flex;

                    >div {
                        flex: 1;
                        text-align: center;
                        position: relative;
                    }

                    .circle {
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        line-height: 28px;
                        font-size: 16px;
                        border-radius: 50%;
                    }

                    .circle + span {
                        position: absolute;
                        bottom: -7px;
                        right: 1px;
                        font-size: 11px;
                        color: gray;
                    }
                }

                .agree {

                    .circle {
                        color: #000;
                        background-color: #fff;
                    }
                }

                .disagree {

                    .circle {
                        color: #fff;
                        background-color: #000;
                    }
                }
            }
        }
    }

    .good {
        background-color: #4a7cff !important;
    }

    .bad {
        background-color: #ff5454 !important;
    }

    .both {
        background-color: #c900ff !important;
    }
}