<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Avalon Note</title>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/6.3.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#reserved-urls -->

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>